svg {
    background: #333333;
}

polygon {
    fill: #9C9C39;
    /* for gridlines */
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

text {
    text-anchor: middle;
    /* alignment-baseline: central; */
    dominant-baseline: central;
    font-size: 40px;
}